<a href="https://colab.research.google.com/github/bs3537/DS-Unit-4-Sprint-1-NLP/blob/master/Assignment_beautifulsoup_attempt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [0]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

## 1) *Optional:* Scrape 100 Job Listings that contain the title "Data Scientist" from indeed.com

At a minimum your final dataframe of job listings should contain
- Job Title
- Job Description

If you choose to not to scrape the data, there is a CSV with outdated data in the directory. Remeber, if you scrape Indeed, you're helping yourself find a job. ;)

## 2) Use Spacy to tokenize / clean the listings

In [0]:
nlp = spacy.load("en_core_web_lg")

In [0]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\bhavn\anaconda3\envs\u4-s1-nlp\lib\site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\bhavn\anaconda3\envs\u4-s1-nlp\lib\site-packages (from beautifulsoup4) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [0]:
import requests
import bs4
from bs4 import BeautifulSoup
import time

In [0]:
url = "https://www.indeed.com/jobs?q=Data+Scientist&l=Boston%2C+MA"

In [0]:
page = requests.get(url)

In [0]:
soup = BeautifulSoup(page.text, "html.parser")

In [0]:
#Information to be extracted from the above html page = job title, job description

In [0]:
#Extracting job titles
def extract_job_title_from_result(soup): 
    jobs = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])
    return(jobs)
title1 = extract_job_title_from_result(soup)
title1

['OCR Data Scientist',
 'Data Scientist',
 'Data Scientist, Office of Data Science',
 'Data Analyst/Scientist',
 'Data Scientist',
 'Data Scientist (Full-Time)',
 'Data Scientist',
 'Data Scientist',
 'Juñior Data Scientist',
 'Data Scientist/Economist',
 'Data Scientist',
 'Data Analyst/Scientist',
 'Clinical Data Scientist',
 'Data Scientist - Boston',
 'Data Scientist',
 'Assistant Director/Director, Office of Data Science']

In [0]:
#Extracting listing companies
def extract_company_from_result(soup): 
    companies = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
            for span in sec_try:
                companies.append(span.text.strip())
    return(companies)
 
company1 = extract_company_from_result(soup)
company1

['iQuartic',
 'Fidelity Talent Source',
 'Liberty Mutual Insurance',
 'CGI Group, Inc.',
 'SimpliSafe',
 'proton.ai',
 'Tekplay',
 'GSK',
 'PIÑATA SCIENCES',
 'Burning Glass Technologies',
 'Klaviyo',
 'CGI Group, Inc.',
 'ICHOM',
 'Shift Technology',
 'MORSE Corp',
 'Liberty Mutual Insurance']

In [0]:
#Extracting job descriptions
def extract_summary_from_result(soup): 
    summaries = []
    spans = soup.findAll('div', attrs={'class': 'summary'})
    for span in spans:
        summaries.append(span.text.strip())
    return(summaries)
summary1 = extract_summary_from_result(soup)
summary1

['The Senior Data Science Engineer will work closely with the software engineering team and domain experts at IQuartic, leverage OCR and machine learning…',
 'Our associates are made up of a team of high caliber scientists, mathematicians and statisticians use rigorous quantitative approaches to ensure that we are…',
 'Demonstrated experience in deep learning, computer vision, natural language processing, and/or interpretable machine learning.',
 'For creating dashboards and delivering insights using visualization tools.\nDevelop and implement analytics enabled solutions to improve business process,…',
 "Skilled in SQL, R, Python, and statistical methods to analyze behavioral data.\nYou'll be expected to creatively translate business problems into the appropriate…",
 'Salary: $75,000.00 to $150,000.00 /year.\nWe will not review applications on indeed.',
 'Experience with Data science tools R, Jupyter.\nSalary: $80.00 to $90.00 /hour.\nMust have minimum of 10 years of overall IT experience with at least 6 years of…',
 'A higher degree in Engineering, Statistics, Data Science, Applied Mathematics, Computer Science, Physics, Computational Biology, Computational Chemistry or…',
 'Experience with machine learning techniques.\nPinata Scienes is looking for an up and coming Data Scientist.\nThis data driven individual will work to support our…',
 'Manipulating, validating, and analyzing data using SQL, R, Python, and other analytical tools to develop insights about emerging trends in the labor market.',
 'The right candidate will have both a solid fundamental understanding and deep practical experience with at least a few modeling and machine learning techniques.',
 'For creating dashboards and delivering insights using visualization tools.\nDevelop and implement analytics enabled solutions to improve business process,…',
 'Examples include Clinical Element Models, Archetype Definition Language (ADL), OpenEHR and clinical information modeling platforms such as Art Décor.',
 'R&D for product development and innovation (through machine learning, image analysis, NLP, trend analysis, chatbots…).\nTraining of junior Data scientists.',
 'Solid understanding of physics, linear algebra, statistics, algorithms, optimization, and/or machine learning methods.',
 'Competencies typically acquired through a Ph.D. degree (in Statistics, Mathematics, Economics, Actuarial Science or other scientific field of study) with 2+…']

In [0]:
#create empty dataframe to store scraped results
columns = ["title", "company_name", "summary"]
sample_df = pd.DataFrame(columns = columns)

In [0]:
sample_df.head()

Empty DataFrame
Columns: [title, company_name, summary]
Index: []

In [0]:
pip install lxml

Requirement already satisfied: lxml in c:\users\bhavn\anaconda3\envs\u4-s1-nlp\lib\site-packages (4.5.0)
Note: you may need to restart the kernel to use updated packages.

In [0]:
max_results_per_city = 100
city_set = ['Boston']

In [0]:
num = (len(sample_df) + 1)
sample_df.loc[num] = summary1

ValueError: cannot set a row with mismatched columns

In [0]:
nnnnnnnnnnnn

In [0]:
#scraping code:
for city in city_set:
    for start in range(0, max_results_per_city, 100):
        page = requests.get("https://www.indeed.com/jobs?q=Data+Scientist" + str(city) + '&start=' + str(start))
        time.sleep(1)  #ensuring at least 1 second between page grabs
        soup = BeautifulSoup(page.text, "html.parser", from_encoding="utf-8")
    #soup = BeautifulSoup(page.text, "html.parser")
    for div in soup.find_all(name="div", attrs={"class":"row"}): 
    #specifying row num for index of job posting in dataframe
        num = (len(sample_df) + 1) 
    #creating an empty list to hold the data for each posting
        job_post = [] 
    #grabbing job title
    for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
        job_post.append(a["title"])
        
    for a in div.find_all(name="a", attrs={"data-tn-element":"jobTitle"}):
        job_post.append(a["title"])

    #grabbing company name
    #company = div.find_all(name="span", attrs={"class”:”company"}) 
    #if len(company) > 0: 
        #for b in company:
            #job_post.append(b.text.strip()) 
    #else: 
        #sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
        #for span in sec_try:
            #job_post.append(span.text) 
    #grabbing summary text
    d = div.findAll("div", attrs={"class": "summary"}) 
    for div in d:
        job_post.append(div.text.strip()) 
    #appending list of job post info to dataframe at index num
    sample_df.loc[num] = job_post

#saving sample_df as a local csv file — define your own local path to save contents 
#sample_df.to_csv("[filepath].csv", encoding='utf-8')

ValueError: cannot set a row with mismatched columns

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 4) Visualize the most common word counts

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [0]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)